label{
    font-size: 15px;
}
input{
    padding: 10px;
}
.btn{
    padding: 15px;
}
#cancel{
    margin-left: 85%;
    color: red;
    cursor: pointer;
}
.btn button{
    margin-left: 20%;
    width: 60%;
}