
.h-footer{
    background: #000000;
    height: 30vh;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.item{
    display: flex;
    align-items: center;
}

.h-footer i{
    margin: 5px;
    border: 1px solid white;
    padding: 5px;
    border-radius: 50px;

}
.h-footer p {
    font-size: 13px;
}
#telegrame{
    border: 2px solid white;
    padding: 5px;
    border-radius: 50%;
}
.more-contact img{
    margin: 5px;
}